# Case Study по модулю Plotly  
**Исполнитель:**  Шовалиев Абдулло 
**Дата:** 20 11 24

In [ ]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import psycopg2
from sqlalchemy import create_engine

In [ ]:

DATABASE_URL = "postgresql://postgres:123@localhost:5432/adventureworks"
engine = create_engine(DATABASE_URL)

In [ ]:
tables = ["table1", "table2", "table3"]  
for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 10", con=engine)
    print(f"Таблица: {table}")
    display(df)

In [ ]:
for table in tables:
    size = pd.read_sql(f"SELECT COUNT(*) FROM {table}", con=engine)
    print(f"Размер таблицы {table}: {size.iloc[0, 0]} строк")

In [ ]:
for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table}", con=engine)
    print(f"Пропуски в таблице {table}:")
    print(df.isnull().sum())

In [ ]:
for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table}", con=engine)
    print(df.dtypes)

    df['column'] = df['column'].astype(int)

In [ ]:
for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table}", con=engine)
    print(df.describe(include='all'))

In [ ]:
df_customers = pd.read_sql("SELECT * FROM customers", con=engine)
fig = px.histogram(df_customers, x="age", title="Распределение возраста клиентов")
fig.show()

fig_box = px.box(df_customers, y="age", title="Распределение возраста (Boxplot)")
fig_box.show()

In [ ]:
Q1 = df_customers['age'].quantile(0.25)
Q3 = df_customers['age'].quantile(0.75)
IQR = Q3 - Q1
outliers = df_customers[(df_customers['age'] < Q1 - 1.5 * IQR) | (df_customers['age'] > Q3 + 1.5 * IQR)]
print("Выбросы:", outliers)

In [ ]:
fig = px.bar(df_customers, x="region", title="Разбивка клиентов по регионам")
fig.show()

In [ ]:
fig = px.histogram(df_customers, x="income", color="gender", title="Распределение дохода по полу")
fig.show()

In [ ]:
df_sales = pd.read_sql("SELECT * FROM sales", con=engine)
df_sales['date'] = pd.to_datetime(df_sales['date'])
df_sales['month'] = df_sales['date'].dt.month
df_sales['year'] = df_sales['date'].dt.year
fig = px.line(df_sales, x="date", y="total_sales", title="Продажи по месяцам и годам")
fig.show()

In [ ]:
fig = px.bar(df_sales, x="product", y="total_sales", title="Сумма продаж по продуктам")
fig.show()

In [ ]:
fig = px.scatter(df_sales, x="price", y="total_sales", title="Корреляция цены и суммы продаж")
fig.show()